body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  font-weight: normal;
}

div#sign-in {
  width: 100%;
  font-weight: bold;
  text-align: right;
  margin-top: 25px;
}

div#content {
  text-align: center;
}

div#content > div {
  display: inline-block;
  padding: 30px;
  border: 2px solid #AAAAAA;
  border-radius: 4px;
  text-align: left;
  width: 700px;
  position: relative;
}

div#content button {
  float: right;
}

div#content button.register {
  position: absolute;
  bottom: 18px;
  right: 277px;
}

ul {
  list-style-type: none;
}

.button,
button {
  margin: 10px;
  padding: 15px 30px;
  border-width: 0;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.button:hover,
button:hover {
  text-decoration: underline;
}

.button.disabled,
button.disabled {
  background-color: #626B83;
}

.button.disabled:hover,
button.disabled:hover {
  background-color: #99a0b2;
}

.button.enabled,
button.enabled {
  background-color: #1B1464;
}

.button.enabled:hover,
button.enabled:hover {
  background-color: #2d22aa;
}

div#header {
  width: 100%;
  text-align: center;
  margin: 40px 0 20px 0;
}

span.error,
div.error {
  color: red;
}

div.organization_panel div.error {
  display: block;
}

input.error,
select.error {
  background-color: #ff9999
}

div.contact_info_panel > form > div {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  width: 42%;
  padding: 0px 22px;
}

div.contact_info_panel label {
  display: block;
  margin-bottom: 10px;
}

div.contact_info_panel label.checkbox_label {
  display: inline;
}

div.contact_info_panel input[type=text],
div.contact_info_panel input[type=password],
div.contact_info_panel select {
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 3px;
}

div.contact_info_panel span.twitter_input:before {
  content: "@";
  display: inline;
  margin-right: 5px;
  color: #999;
}

div.contact_info_panel span.twitter_input input {
  display: inline;
  width: 255px;
}

div.contact_info_panel hr {
  width: 80%;
  margin-top: -5px;
  background-color: #ccc;
  border-color: transparent;
  margin-bottom: 20px;
}

div.contact_info_panel label span {
  clear: right;
  margin-bottom: 5px;
  display: block;
}

div.contact_info_panel i.fa-twitter {
  color: #1da1f2;
  margin: 0px 3px;
}

div.contact_info_panel div.email_header {
  margin-bottom: 10px;
}

div.contact_info_panel div.helper_label {
  font-size: x-small;
  background-color: lightgray;
  width: 278px;
  padding: 10px;
}

div.organization_panel {
  display: inline-block;
  min-height: 600px;
}

div.organization_panel div {
  display: inline-block;
  vertical-align: top;
}

div.organization_panel input[type=number] {
  width: 56px;
}

div.organization_panel span.registration_warning {
  position: absolute;
  bottom: 7px;
  margin: auto;
  display: block;
  right: 115px;
}

div.organization_panel h4 {
  margin: 5px 0px;
  font-weight: inherit;
}

div.organization_panel ul {
  margin: 0;
  padding: 0;
}

div.organization_panel input[type=number],
div.organization_panel input[type=text] {
  font-size: inherit;
  padding: 3px;
}

div.organization_panel div.col-1,
div.organization_panel div.col-2,
div.organization_panel div.col-3 {
  padding-bottom: 25px
}

div.organization_panel input.organization {
  width: 66%;
}

div.organization_panel input.experience {
  margin-right: 10px;
}

div.organization_panel div.col-1 {
  width: 100%;
}

div.organization_panel div.col-2 {
  width: 50%;
}

div.organization_panel div.col-3 {
  width: 33%;
  margin: 10px 0px;
}

iframe.footer {
  width: 100%;
  border: none;
}
